# Analysis of the data

In [1]:
import re

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/hope_mine_temparature_and_humidity.csv')

## Question 1: What are the columns

In [3]:
df.head()

,time,day,month,year,temp_open,temp_top,temp_5m,temp_10m,temp_20m,humidity_open,humidity_top,humidity_5m,humidity_10m,humidity_20m
0,14:35:01,15,7,2016,28.655,29.116,29.132,26.084,NaN,28.522,27.828,45.301,42.496,NaN
1,15:05:01,15,7,2016,24.656,24.117,24.633,24.584,NaN,27.145,25.121,27.816,26.514,NaN
2,15:35:01,15,7,2016,24.656,24.117,24.633,24.584,NaN,27.145,25.800,28.481,27.198,NaN
3,16:05:01,15,7,2016,24.656,24.117,25.133,25.084,NaN,27.145,27.828,27.148,27.880,NaN
4,16:35:01,15,7,2016,25.656,25.117,26.133,25.584,NaN,27.834,28.501,29.146,27.880,NaN

In [4]:
df.columns

Index(['time', 'day', 'month', 'year', 'temp_open', 'temp_top', 'temp_5m',
       'temp_10m', 'temp_20m', 'humidity_open', 'humidity_top', 'humidity_5m',
       'humidity_10m', 'humidity_20m'],
      dtype='object')

## Data: Question 1

We have columns for the time and dates.  Then we have columns for the temparature and columns for the humidity.

The data was collected at the unused Hope Mine in the Central Namib Desert, in Namibia.  It is basically a hole in the ground.  So we can see that the measurements for the temparature and humidity were taken outside the mine, at the opening, 5, 10 and 20 meters into the mine.

- time
- day
- month
- year
- temp_open
- temp_top
- temp_5m
- temp_10m
- temp_20m
- humidity_open
- humidity_top
- humidity_5m
- humidity_10m
- humidity_20m

## Question 2: Over what period of time?

In [5]:
df.shape

(19294, 14)

In [6]:
df.loc[0, ['day', 'month', 'year']]

day        15
month       7
year     2016
Name: 0, dtype: object

In [7]:
df.loc[df.shape[0]-1, ['day', 'month', 'year']]

day        21
month       8
year     2017
Name: 19293, dtype: object

## Data: Question 2

We have columns for the time and dates. Then we have columns for the temparature and columns for the humidity.

The data was collected at the unused Hope Mine in the Central Namib Desert, in Namibia. It is basically a hole in the ground. So we can see that the measurements for the temparature and humidity were taken outside the mine, at the opening, 5, 10 and 20 meters into the mine.

- time
- day, month, year - Range from 15 July 2016 to 21 August 2017
- temp_open
- temp_top
- temp_5m
- temp_10m
- temp_20m
- humidity_open
- humidity_top
- humidity_5m
- humidity_10m
- humidity_20m

## Question 3: What are the time blocks.  How often was the data sampled

In [8]:
time = df['time']

In [9]:
len(time.unique())

726

In [10]:
uniquetime = time.unique()

In [ ]:
np.sort(uniquetime)

In [34]:
def split_and_fix(val):
    split_up = val.split(':')[0:2]
    split_up[0] = split_up[0].zfill(2)
    return ':'.join(split_up)
    
split_and_fix("1:29:15")

'01:29'

In [35]:
hour_minutes = np.array([split_and_fix(x) for x in uniquetime])

In [38]:
hour_minutes

array(['14:35', '15:05', '15:35', '16:05', '16:35', '17:05', '17:35',
       '18:05', '18:35', '19:05', '19:35', '20:05', '20:35', '21:05',
       '21:35', '22:05', '22:35', '23:05', '23:35', '00:05', '00:35',
       '01:05', '01:35', '02:05', '02:35', '03:05', '03:35', '04:05',
       '04:35', '05:05', '05:35', '06:05', '06:35', '07:05', '07:35',
       '08:05', '08:35', '09:05', '09:35', '10:05', '10:35', '11:05',
       '11:35', '12:05', '12:35', '13:05', '13:35', '14:05', '12:59',
       '13:29', '13:59', '14:29', '14:59', '15:29', '15:59', '16:29',
       '16:59', '17:29', '17:59', '18:29', '18:59', '19:29', '19:59',
       '20:29', '20:59', '21:29', '21:59', '22:29', '22:59', '23:29',
       '23:59', '00:29', '00:59', '01:29', '01:59', '02:29', '02:59',
       '03:29', '03:59', '04:29', '04:59', '05:29', '05:59', '06:29',
       '06:59', '07:29', '07:59', '08:29', '08:59', '09:29', '09:59',
       '10:29', '10:59', '11:29', '11:59', '12:29', '00:29', '00:59',
       '01:29', '01:59', '02:29', '02:59', '03:29', '03:59', '04:29',
       '04:59', '05:29', '05:59', '06:29', '06:59', '07:29', '07:59',
       '08:29', '08:59', '09:29', '09:59', '10:29', '10:59', '11:29',
       '11:59', '12:29', '12:59', '13:29', '13:59', '14:29', '14:59',
       '15:29', '15:59', '16:29', '16:59', '17:29', '17:59', '18:29',
       '18:59', '19:29', '19:59', '20:29', '20:59', '21:29', '21:59',
       '22:29', '22:59', '23:29', '23:59', '10:46', '11:16', '11:46',
       '12:16', '12:46', '13:16', '13:46', '14:16', '14:46', '15:16',
       '15:46', '16:16', '16:46', '17:16', '17:46', '18:16', '18:46',
       '19:16', '19:46', '20:16', '20:46', '21:16', '21:46', '22:16',
       '22:46', '23:16', '23:46', '00:16', '00:46', '01:16', '01:46',
       '02:16', '02:46', '03:16', '03:46', '04:16', '04:46', '05:16',
       '05:46', '06:16', '06:46', '07:16', '07:46', '08:16', '08:46',
       '09:16', '09:46', '10:16', '00:16', '00:46', '01:16', '01:46',
       '02:16', '02:46', '03:16', '03:46', '04:16', '04:46', '05:16',
       '05:46', '06:16', '06:46', '07:16', '07:46', '08:16', '08:46',
       '09:16', '09:46', '10:16', '10:46', '11:16', '11:46', '12:16',
       '12:46', '13:16', '13:46', '14:16', '14:46', '15:16', '15:46',
       '16:16', '16:46', '17:16', '17:46', '18:16', '18:46', '19:16',
       '19:46', '20:16', '20:46', '21:16', '21:46', '22:16', '22:46',
       '23:16', '23:46', '11:33', '12:03', '12:33', '13:03', '13:33',
       '14:03', '14:33', '15:03', '15:33', '16:03', '16:33', '17:03',
       '17:33', '18:03', '18:33', '19:03', '19:33', '20:03', '20:33',
       '21:03', '21:33', '22:03', '22:33', '23:03', '23:33', '00:03',
       '00:33', '01:03', '01:33', '02:03', '02:33', '03:03', '03:33',
       '04:03', '04:33', '05:03', '05:33', '06:03', '06:33', '07:03',
       '07:33', '08:03', '08:33', '09:03', '09:33', '10:03', '10:33',
       '11:03', '16:38', '17:08', '17:38', '18:08', '18:38', '19:08',
       '19:38', '20:08', '20:38', '21:08', '21:38', '22:08', '22:38',
       '23:08', '23:38', '00:08', '00:38', '01:08', '01:38', '02:08',
       '02:38', '03:08', '03:38', '04:08', '04:38', '05:08', '05:38',
       '06:08', '06:38', '07:08', '07:38', '08:08', '08:38', '09:08',
       '09:38', '10:08', '10:38', '11:08', '11:38', '12:08', '12:38',
       '13:08', '13:38', '14:08', '14:38', '15:08', '15:38', '16:08',
       '15:09', '15:39', '16:09', '16:39', '17:09', '17:39', '18:09',
       '18:39', '19:09', '19:39', '20:09', '20:39', '21:09', '21:39',
       '22:09', '22:39', '23:09', '23:39', '00:09', '00:39', '01:09',
       '01:39', '02:09', '02:39', '03:09', '03:39', '04:09', '04:39',
       '05:09', '05:39', '06:09', '06:39', '07:09', '07:39', '08:09',
       '08:39', '09:09', '09:39', '10:09', '10:39', '11:09', '11:39',
       '12:09', '12:39', '13:09', '13:39', '14:09', '14:39', '11:38',
       '12:08', '12:38', '13:08', '13:38', '14:08', '14:38', '15:08',
       '15:38', '16:08', '16:38', '17:08', '17:38', '18:08', '18:38',
       '19:08', '19:38', '20:08', '20:38', '21:08', '21:38', '22:08',
       '22:38', '23:08', '23:38', '00:08', '00:38', '01:08', '01:38',
       '02:08', '02:38', '03:08', '03:38', '04:08', '04:38', '05:08',
       '05:38', '06:08', '06:38', '07:08', '07:38', '08:08', '08:38',
       '09:08', '09:38', '10:08', '10:38', '11:08', '11:26', '11:56',
       '12:26', '12:56', '13:26', '13:56', '14:26', '14:56', '15:26',
       '15:56', '16:26', '16:56', '17:26', '17:56', '18:26', '18:56',
       '19:26', '19:56', '20:26', '20:56', '21:26', '21:56', '22:26',
       '22:56', '23:26', '23:56', '00:26', '00:56', '01:26', '01:56',
       '02:26', '02:56', '03:26', '03:56', '04:26', '04:56', '05:26',
       '05:56', '06:26', '06:56', '07:26', '07:56', '08:26', '08:56',
       '09:26', '09:56', '10:26', '10:56', '15:19', '15:49', '16:19',
       '16:49', '17:19', '17:49', '18:19', '18:49', '19:19', '19:49',
       '20:19', '20:49', '21:19', '21:49', '22:19', '22:49', '23:19',
       '23:49', '00:19', '00:49', '01:19', '01:49', '02:19', '02:49',
       '03:19', '03:49', '04:19', '04:49', '05:19', '05:49', '06:19',
       '06:49', '07:19', '07:49', '08:19', '08:49', '09:19', '09:49',
       '10:19', '10:49', '11:19', '11:49', '12:19', '12:49', '13:19',
       '13:49', '14:19', '14:49', '17:07', '17:37', '18:07', '18:37',
       '19:07', '19:37', '20:07', '20:37', '21:07', '21:37', '22:07',
       '22:37', '23:07', '23:37', '00:07', '00:37', '01:07', '01:37',
       '02:07', '02:37', '03:07', '03:37', '04:07', '04:37', '05:07',
       '05:37', '06:07', '06:37', '07:07', '07:37', '08:07', '08:37',
       '09:07', '09:37', '10:07', '10:37', '11:07', '11:37', '12:07',
       '12:37', '13:07', '13:37', '14:07', '14:37', '15:07', '15:37',
       '16:07', '16:37', '01:07', '01:37', '02:07', '02:37', '03:07',
       '03:37', '04:07', '04:37', '05:07', '05:37', '06:07', '06:37',
       '07:07', '07:37', '08:07', '08:37', '09:07', '09:37', '09:47',
       '10:17', '10:47', '11:17', '11:47', '12:17', '12:47', '13:17',
       '13:47', '14:17', '14:47', '15:17', '15:47', '16:17', '16:47',
       '17:17', '17:47', '18:17', '18:47', '19:17', '19:47', '20:17',
       '20:47', '21:17', '21:47', '22:17', '22:47', '23:17', '23:47',
       '00:17', '00:47', '01:17', '01:47', '02:17', '02:47', '03:17',
       '03:47', '04:17', '04:47', '05:17', '05:47', '06:17', '06:47',
       '07:17', '07:47', '08:17', '08:47', '09:17', '01:17', '01:47',
       '02:17', '02:47', '03:17', '03:47', '04:17', '04:47', '05:17',
       '05:47', '06:17', '06:47', '07:17', '07:47', '08:17', '08:47',
       '09:17', '09:47', '12:24', '12:54', '13:24', '13:54', '14:24',
       '14:54', '15:24', '15:54', '16:24', '16:54', '17:24', '17:54',
       '18:24', '18:54', '19:24', '19:54', '20:24', '20:54', '21:24',
       '21:54', '22:24', '22:54', '23:24', '23:54', '00:24', '00:54',
       '01:24', '01:54', '02:24', '02:54', '03:24', '03:54', '04:24',
       '04:54', '05:24', '05:54', '06:24', '06:54', '07:24', '07:54',
       '08:24', '08:54', '09:24', '09:54', '10:24', '10:54', '11:24',
       '11:54', '01:24', '01:54', '02:24', '02:54', '03:24', '03:54',
       '04:24', '04:54', '05:24', '05:54', '06:24', '06:54', '07:24',
       '07:54', '08:24', '08:54', '09:24', '09:54'], dtype='<U5')

In [39]:
uhour_minutes = np.unique(hour_minutes)
uhour_minutes

array(['00:03', '00:05', '00:07', '00:08', '00:09', '00:16', '00:17',
       '00:19', '00:24', '00:26', '00:29', '00:33', '00:35', '00:37',
       '00:38', '00:39', '00:46', '00:47', '00:49', '00:54', '00:56',
       '00:59', '01:03', '01:05', '01:07', '01:08', '01:09', '01:16',
       '01:17', '01:19', '01:24', '01:26', '01:29', '01:33', '01:35',
       '01:37', '01:38', '01:39', '01:46', '01:47', '01:49', '01:54',
       '01:56', '01:59', '02:03', '02:05', '02:07', '02:08', '02:09',
       '02:16', '02:17', '02:19', '02:24', '02:26', '02:29', '02:33',
       '02:35', '02:37', '02:38', '02:39', '02:46', '02:47', '02:49',
       '02:54', '02:56', '02:59', '03:03', '03:05', '03:07', '03:08',
       '03:09', '03:16', '03:17', '03:19', '03:24', '03:26', '03:29',
       '03:33', '03:35', '03:37', '03:38', '03:39', '03:46', '03:47',
       '03:49', '03:54', '03:56', '03:59', '04:03', '04:05', '04:07',
       '04:08', '04:09', '04:16', '04:17', '04:19', '04:24', '04:26',
       '04:29', '04:33', '04:35', '04:37', '04:38', '04:39', '04:46',
       '04:47', '04:49', '04:54', '04:56', '04:59', '05:03', '05:05',
       '05:07', '05:08', '05:09', '05:16', '05:17', '05:19', '05:24',
       '05:26', '05:29', '05:33', '05:35', '05:37', '05:38', '05:39',
       '05:46', '05:47', '05:49', '05:54', '05:56', '05:59', '06:03',
       '06:05', '06:07', '06:08', '06:09', '06:16', '06:17', '06:19',
       '06:24', '06:26', '06:29', '06:33', '06:35', '06:37', '06:38',
       '06:39', '06:46', '06:47', '06:49', '06:54', '06:56', '06:59',
       '07:03', '07:05', '07:07', '07:08', '07:09', '07:16', '07:17',
       '07:19', '07:24', '07:26', '07:29', '07:33', '07:35', '07:37',
       '07:38', '07:39', '07:46', '07:47', '07:49', '07:54', '07:56',
       '07:59', '08:03', '08:05', '08:07', '08:08', '08:09', '08:16',
       '08:17', '08:19', '08:24', '08:26', '08:29', '08:33', '08:35',
       '08:37', '08:38', '08:39', '08:46', '08:47', '08:49', '08:54',
       '08:56', '08:59', '09:03', '09:05', '09:07', '09:08', '09:09',
       '09:16', '09:17', '09:19', '09:24', '09:26', '09:29', '09:33',
       '09:35', '09:37', '09:38', '09:39', '09:46', '09:47', '09:49',
       '09:54', '09:56', '09:59', '10:03', '10:05', '10:07', '10:08',
       '10:09', '10:16', '10:17', '10:19', '10:24', '10:26', '10:29',
       '10:33', '10:35', '10:37', '10:38', '10:39', '10:46', '10:47',
       '10:49', '10:54', '10:56', '10:59', '11:03', '11:05', '11:07',
       '11:08', '11:09', '11:16', '11:17', '11:19', '11:24', '11:26',
       '11:29', '11:33', '11:35', '11:37', '11:38', '11:39', '11:46',
       '11:47', '11:49', '11:54', '11:56', '11:59', '12:03', '12:05',
       '12:07', '12:08', '12:09', '12:16', '12:17', '12:19', '12:24',
       '12:26', '12:29', '12:33', '12:35', '12:37', '12:38', '12:39',
       '12:46', '12:47', '12:49', '12:54', '12:56', '12:59', '13:03',
       '13:05', '13:07', '13:08', '13:09', '13:16', '13:17', '13:19',
       '13:24', '13:26', '13:29', '13:33', '13:35', '13:37', '13:38',
       '13:39', '13:46', '13:47', '13:49', '13:54', '13:56', '13:59',
       '14:03', '14:05', '14:07', '14:08', '14:09', '14:16', '14:17',
       '14:19', '14:24', '14:26', '14:29', '14:33', '14:35', '14:37',
       '14:38', '14:39', '14:46', '14:47', '14:49', '14:54', '14:56',
       '14:59', '15:03', '15:05', '15:07', '15:08', '15:09', '15:16',
       '15:17', '15:19', '15:24', '15:26', '15:29', '15:33', '15:35',
       '15:37', '15:38', '15:39', '15:46', '15:47', '15:49', '15:54',
       '15:56', '15:59', '16:03', '16:05', '16:07', '16:08', '16:09',
       '16:16', '16:17', '16:19', '16:24', '16:26', '16:29', '16:33',
       '16:35', '16:37', '16:38', '16:39', '16:46', '16:47', '16:49',
       '16:54', '16:56', '16:59', '17:03', '17:05', '17:07', '17:08',
       '17:09', '17:16', '17:17', '17:19', '17:24', '17:26', '17:29',
       '17:33', '17:35', '17:37', '17:38', '17:39', '17:46', '17:47',
       '17:49', '17:54', '17:56', '17:59', '18:03', '18:05', '18:07',
       '18:08', '18:09', '18:16', '18:17', '18:19', '18:24', '18:26',
       '18:29', '18:33', '18:35', '18:37', '18:38', '18:39', '18:46',
       '18:47', '18:49', '18:54', '18:56', '18:59', '19:03', '19:05',
       '19:07', '19:08', '19:09', '19:16', '19:17', '19:19', '19:24',
       '19:26', '19:29', '19:33', '19:35', '19:37', '19:38', '19:39',
       '19:46', '19:47', '19:49', '19:54', '19:56', '19:59', '20:03',
       '20:05', '20:07', '20:08', '20:09', '20:16', '20:17', '20:19',
       '20:24', '20:26', '20:29', '20:33', '20:35', '20:37', '20:38',
       '20:39', '20:46', '20:47', '20:49', '20:54', '20:56', '20:59',
       '21:03', '21:05', '21:07', '21:08', '21:09', '21:16', '21:17',
       '21:19', '21:24', '21:26', '21:29', '21:33', '21:35', '21:37',
       '21:38', '21:39', '21:46', '21:47', '21:49', '21:54', '21:56',
       '21:59', '22:03', '22:05', '22:07', '22:08', '22:09', '22:16',
       '22:17', '22:19', '22:24', '22:26', '22:29', '22:33', '22:35',
       '22:37', '22:38', '22:39', '22:46', '22:47', '22:49', '22:54',
       '22:56', '22:59', '23:03', '23:05', '23:07', '23:08', '23:09',
       '23:16', '23:17', '23:19', '23:24', '23:26', '23:29', '23:33',
       '23:35', '23:37', '23:38', '23:39', '23:46', '23:47', '23:49',
       '23:54', '23:56', '23:59'], dtype='<U5')

In [40]:
len(uhour_minutes)

528

In [46]:
df.loc[:, ['time', 'day', 'month', 'year']][:10]

       time  day  month  year
0  14:35:01   15      7  2016
1  15:05:01   15      7  2016
2  15:35:01   15      7  2016
3  16:05:01   15      7  2016
4  16:35:01   15      7  2016
5  17:05:01   15      7  2016
6  17:35:01   15      7  2016
7  18:05:01   15      7  2016
8  18:35:01   15      7  2016
9  19:05:01   15      7  2016

Time was sampled twice an hour, it appears, but that time changes (perhaps this reflect something like battery changes for the loggers?  If I in them, as follows, 'hh:00' for any minutes less than 30, and