# Analysis of the data

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('../data/hope_mine_temparature_and_humidity.csv')

## Question 1: What are the columns

In [7]:
df.head()

,time,day,month,year,temp_open,temp_top,temp_5m,temp_10m,temp_20m,humidity_open,humidity_top,humidity_5m,humidity_10m,humidity_20m
0,14:35:01,15,7,2016,28.655,29.116,29.132,26.084,NaN,28.522,27.828,45.301,42.496,NaN
1,15:05:01,15,7,2016,24.656,24.117,24.633,24.584,NaN,27.145,25.121,27.816,26.514,NaN
2,15:35:01,15,7,2016,24.656,24.117,24.633,24.584,NaN,27.145,25.800,28.481,27.198,NaN
3,16:05:01,15,7,2016,24.656,24.117,25.133,25.084,NaN,27.145,27.828,27.148,27.880,NaN
4,16:35:01,15,7,2016,25.656,25.117,26.133,25.584,NaN,27.834,28.501,29.146,27.880,NaN

In [17]:
df.columns

Index(['time', 'day', 'month', 'year', 'temp_open', 'temp_top', 'temp_5m',
       'temp_10m', 'temp_20m', 'humidity_open', 'humidity_top', 'humidity_5m',
       'humidity_10m', 'humidity_20m'],
      dtype='object')

## Data: Question 1

We have columns for the time and dates.  Then we have columns for the temparature and columns for the humidity.

The data was collected at the unused Hope Mine in the Central Namib Desert, in Namibia.  It is basically a hole in the ground.  So we can see that the measurements for the temparature and humidity were taken outside the mine, at the opening, 5, 10 and 20 meters into the mine.

- time
- day
- month
- year
- temp_open
- temp_top
- temp_5m
- temp_10m
- temp_20m
- humidity_open
- humidity_top
- humidity_5m
- humidity_10m
- humidity_20m

## Question 2: Over what period of time?

In [19]:
df.shape

(19294, 14)

In [25]:
df.loc[0, ['day', 'month', 'year']]

day        15
month       7
year     2016
Name: 0, dtype: object

In [26]:
df.loc[df.shape[0]-1, ['day', 'month', 'year']]

day        21
month       8
year     2017
Name: 19293, dtype: object

## Data: Question 2

We have columns for the time and dates. Then we have columns for the temparature and columns for the humidity.

The data was collected at the unused Hope Mine in the Central Namib Desert, in Namibia. It is basically a hole in the ground. So we can see that the measurements for the temparature and humidity were taken outside the mine, at the opening, 5, 10 and 20 meters into the mine.

- time
- day, month, year - Range from 15 July 2016 to 21 August 2017
- temp_open
- temp_top
- temp_5m
- temp_10m
- temp_20m
- humidity_open
- humidity_top
- humidity_5m
- humidity_10m
- humidity_20m

## Question 3: What are the time blocks.  How often was the data sampled

In [29]:
time = df['time']

In [45]:
len(time.unique())

726